<%= form_for @search_form, url: search_path, role: 'form' do |f| %>

  <div class="form-group">

      <%= f.label :location, "What's your current location?" %>

      <%= f.text_field :location, class: 'form-control'%>

  </div>

  <div class='form-group'>

      <%= f.label :cuisine, "What did you have for your last meal?" %>

      <%= f.select :cuisine, options_for_select(@cuisine_options), {}, { class: 'form-control' } %>

  </div>

  <%= f.submit "I'm hungry!", class: 'btn btn-default'%>

<% end %>