<h1>Hi!</h1>

<p>This is where I will eventually put the Combo Breaker application.</p>

<p>If you've ever felt like you can't decide what to eat for your next meal, this application will suggest a cuisine (and food-place from Yelp) that you haven't had recently. Helps you break out of a routine! It looks kinda like this:</p>

<hr>

<%= form_tag do %>
  <%= label_tag(:location, 'What\'s your location?') %>
  <%= text_field_tag(:location) %>
  <%= label_tag(:cuisine, 'What did you have last?') %>
  <%= text_field_tag(:cuisine) %>
<% end %>

<p>How about some <%= @cuisine %>?</p>

<ul>
  <% @businesses.collect do |business| %>
    <li><%= business.name %></li>
  <% end %>
</ul>

<hr>

<p>In the future, I hope to expand this to determine the cuisine you like the most, the cuisine you like the least, and suggest dissimilar restaurants from your norm to help you get out of your culinary rut. That'll take a little bit of reading up on machine learning, but hey, it's a wishlist...</p>

<p>Alright, I'm going to sleep. Goodnight.</p>

<p>PS: Is there a way to programmatically get the list of Restaurants categories from Yelp? e.g. 'restaurant,armenian', etc.</p>