<header>
  <nav class='header-nav'>

    <ul class='list-inline'>

      <% if signed_in? %>
        <li>
          <p>Welcome, <%= current_user.name %></p>
        </li>
      <% end %>

      <li>
        <%= link_to "Home", root_path %>
      </li>

      <% if signed_in? %>

        <li>
          <%= link_to "Sign out", sign_out_path %>
        </li>
        <li>
          <%= link_to "Edit profile", edit_profile_path %>
        </li>

      <% else %>

        <li>
          <%= link_to "Register", new_user_path %>
        </li>
        <li>
          <%= link_to "Sign in", sign_in_path %>
        </li>

      <% end %>

    </ul>
  </nav>
</header>