<header class='header'>
  <nav class='topbar' role='navigation'>

    <div class='topbar-container'>

      <% if signed_in? %>
        <p class='welcome-text'>Welcome, <%= current_user.name %></p>
      <% end %>

      <ul class='topbar-links'>

        <li>
          <%= link_to "Home", root_path, class: 'home-link' %>
        </li>

        <% if signed_in? %>

          <li>
            <%= link_to "Sign out", sign_out_path, class: 'signout-link' %>
          </li>

          <li>
            <%= link_to "Edit profile", edit_profile_path, class: 'edit-profile-link' %>
          </li>

          <li>
            <div class="dropdown">
              <button class="btn btn-default dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown">Meal History</button>
              <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                <% current_user.meal_history.each do |meal| %>
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><%= meal %></a></li>
                <% end %>
              </ul>
            </div>
          </li>

        <% else %>

          <li>
            <%= link_to "Register", new_user_path, class: 'register-link' %>
          </li>
          <li>
            <%= link_to "Sign in", sign_in_path, class: 'signin-link' %>
          </li>

        <% end %>

      </ul>
    </div>

  </nav>
</header>