<header>
  <nav class='header-nav'>

    <p>Currently logged in: <%= current_user.name %></p>

    <ul class='user-links'>

      <li>
        <%= link_to "Register", new_user_path %>
      </li>
      <li>
        <%= link_to "Sign in", sign_in_path %>
      </li>
      <li>
        <%= link_to "Sign out", sign_out_path %>
      </li>
      <li>
        <%= link_to "Edit profile", root_path %>
      </li>

    </ul>
  </nav>
</header>