<!DOCTYPE html>
<html>
<head>
  <title>ComboBreaker</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
  <%= render 'layouts/header' %>

  <% unless flash[:error].nil? %>
    <%= flash[:error] %>
  <% end %>

  <%= render 'layouts/content' %>

  <%= render 'layouts/footer' %>
</div>

</body>
</html>
